@mixin flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#postForm{
    @include flexCenter();
    *{
        margin: 7px;
    }

    button{
        margin: auto;
        width: 200px;
    }
}

.postCard{
    padding: 0;
}

.card-img-top{
    max-height: 250px;
}
